body {
    margin-left: 40px;
}

.step {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    height: 50px;
    padding-bottom: 20px;
    width: 30%;
    min-width: 700px;
    line-height: 60px;
}

.step::before {
    font-family: serif;
    font-size: 2.5em;
    position: relative;
    right: 4%;
    top: 5px;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 2%;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
}

.step:after {
    float: right;
    background-size: 100px 70px;
    width: 100px;
    height: 70px;
    content: "";
}

.one::before {
    content: "1";
}

.two::before {
    content: "2";
}

.three::before {
    content: "3";
}

.four::before {
    content: "4";
}

.five::before {
    content: "5";
}

.one,
.one::before {
    background-color: #596492;
}

.two,
.two::before {
    background-color: #48977A;
}

.three,
.three::before {
    background-color: #3299AC;
}

.four,
.four::before {
    background-color: #AC5F31;
}

.five,
.five::before {
    background-color: #798A53;
}

.one::after {
    background-image: url(images/after/Step1.png);
}

.two::after {
    background-image: url(images/after/Step2.png);
}

.three::after {
    background-image: url(images/after/Step3.png);
}

.four::after {
    background-image: url(images/after/Step4.png);
}

.five::after {
    background-image: url(images/after/Step5.png);
}

/* tablets */

@media screen and (max-width: 960px) {
    body {
        margin-left: 20px;
    }
    .step {
        font-size: 1em;
        height: 25px;
        padding-bottom: 10px;
        width: 50%;
        min-width: 450px;
        line-height: 30px;
    }

    .step::after {
        background-size: 50px 35px;
        width: 50px;
        height: 35px;
    }
}

/* smart phones */

@media screen and (max-width: 480px) {
    body {
        margin-right: 20px;
    }
    .step {
        width: 100%;
        min-width: 350px;
    }
}
